/* Styles for map */

  #map {
    height: 0px;
    position: relative;
    padding-bottom: 23%;
    padding-top: 30%;
  }

  #pano {
    width: 120px;
    height: 120px;
  }

  /* Custom with iPhone Retina */
  @media only screen and (min-width : 320px){
    #map {
      padding-top: 100%;
    }
  }

  /* Extra Small Devices primarily Phones */
  @media only screen and (min-width : 480px){
    #map {
      padding-top: 52%;
    }
  }

  /* Small Devices and Tablets */
  @media only screen and (min-width : 768px){
    #map {
      padding-top: 45%;
    }
  }

  /* Medium Devices like Desktops */
  @media only screen and (min-width : 992px){
    #map {
      padding-top: 31%;
    }
  }

  /* Large Devices such as Wide Screens */
  @media only screen and (min-width : 1200px){
    #map {
      padding-top: 25%;
    }
  }
}